/* 設定圖片的大小 */
img {
    width: 300px;  /* 設定圖片的寬度 */
    height: auto; /* 設定圖片的高度 */
}

/* 設定按鈕與圖片之間的距離 */
form {
    margin-bottom: 20px; /* 調整按鈕和圖片的距離 */
}

/* 中心對齊表單和圖片 */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#sign
{
    padding: 10px 20px;
    margin: 10px; /* 設置按鈕之間的距離 */
    font-size: 16px;
    color: black;
    background-color:aqua;
}

#login
{
    padding: 10px 20px;
    margin: 10px; /* 設置按鈕之間的距離 */
    font-size: 16px;
    color: black;
    background-color: aqua;
}

